* {
   -fx-base: rgba(60, 63, 65, 255);
   -fx-icon-color: white;
   -fx-font-size: 14;
}

.actions, .actions * {
   -fx-font-size: 18;
}

.padded {
   -fx-padding: 16px;
}

.title {
   -fx-font-size: 20;
   -fx-font-weight: bold;
}

.description {
   -fx-font-weight: bold;
}

.section-container {
   -fx-padding: 8px;
   -fx-border-style: solid;
   -fx-border-color: white;
   -fx-border-width: 2px;
}

.debug {
   -fx-border-color: red;
   -fx-border-style: solid;
   -fx-border-width: 2px;
}

.button, .text-field, .combo-box, .password-field {
   -fx-max-width: 1000000px;
}

.text-right {
   -fx-text-alignment: right;
   -fx-max-width: 1000000px;
}
